@use 'partials/mixins';

.main {
  &__section {
    min-height: 100vh;
    @include mixins.prefix(display, flex);
    align-items: center;
    flex-direction: column;

    &:first-child {
      min-height: calc(100vh - var(--header-height));
    }
  }

  &__heading {
    width: 700px;
    max-width: 95%;
  }
}