@use 'partials/variables';
@use 'partials/clean-tags';
@use 'partials/mixins';

@use 'header';
@use 'main';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.heading {
  text-align: center;
}

.card {
  @include mixins.prefix(display, flex);
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 2em 1em;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.25);

  &__question {
    font-size: 1.2em;
  }

  &__answers {
    list-style: none;
    @include mixins.prefix(display, flex);
    flex-direction: column;
    align-items: center;
    margin: 1.3em 0;
  }

  &__answer {
    margin: .65em 0;
  }

  &__btn {
    margin-top: auto;
  }
}

.btn {
  background-color: var(--primary-color);
  border-radius: 25px;
  color: #fff;
  border: 1px solid transparent;
  padding: .7em 1em;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(175px, 300px));
  grid-template-rows: 350px;
  grid-gap: 30px;
}
