@use 'partials/variables';
@use 'partials/clean-tags';
@use 'partials/mixins';

@use 'header';
@use 'main';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.primary-heading {
  text-align: center;
}