@use 'partials/variables';
@use 'partials/clean-tags';
@use 'partials/mixins';

@use 'header';
@use 'section';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.heading {
  text-align: center;
}

.card {
  @include mixins.prefix(display, flex);
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 2em 1em;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.25);

  &__question {
    font-size: 1.2em;
  }

  &__answers {
    list-style: none;
    @include mixins.prefix(display, flex);
    flex-direction: column;
    align-items: center;
    margin: 1.3em 0;
  }

  &__answer {
    margin: .65em 0;
  }

  &__btn {
    margin-top: auto;
  }
}

.btn {
  background-color: var(--primary-color);
  border-radius: 25px;
  color: #fff;
  border: 1px solid transparent;
  padding: .7em 1em;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(175px, 280px));
  grid-auto-rows: min-content;
  grid-gap: 30px;
}

.leitner-boxes {
  max-width: 1100px;
  width: 100%;
  margin-bottom: 3em;
  @include mixins.prefix(display, flex);

  &__box {
    background-color: #fff;
    border: 2px solid #000;
    flex: 1 1 20%;
    margin: 1%;
    @include mixins.prefix(display, flex);
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &__text {
    color: var(--primary-color);
    font-size: 2.5em;
    font-weight: 700;
  }
}

.par {
  margin-bottom: 1.3em;

  &--md {
    font-size: 1.3em;
  }
}

.flashcards-types {
  list-style: none;
  font-size: 1.45rem;

  &__item {
    text-align: center;
    margin-bottom: 1.7em;

    &:before {
      display: block;
      content: "";
      height: 1px;
      width: 50%;
      min-width: 350px;
      background-color: var(--primary-color);
      margin: .5em auto;
    }
  }
}

.bold {
  &--md {
    font-weight: 500;
  }
}
