:root {
  --primary-color: #3885df;
  --primary-color-hover: #3870df;
  --header-height: 60px;
  --very-short-animation: 100ms;
  --short-animation: 200ms;
  --border-radius-basic: 15px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e6e6e6;
}

h1, h2 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 2.25rem;
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

.header {
  margin: auto;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  margin-left: 0.8em;
  position: relative;
}
.navbar__link:after {
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  transition: width var(--short-animation) ease;
}
.navbar__link:hover:after {
  width: 100%;
  left: 0;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
  padding: 2em;
}
.section__heading {
  max-width: 700px;
  margin-bottom: 2.75em;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius-basic);
  background-color: #fff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  margin: auto;
  padding: 2em;
}
.form--large {
  max-width: 600px;
}
.form__label {
  font-size: 0.9em;
}
.form__heading {
  margin-bottom: 0.6em;
}
.form__question {
  font-size: 0.8em;
}
.form__submit {
  margin-top: 1.6em;
}
.form__row {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 0.45em;
}
.form__row--large {
  width: 80%;
}
.form__row--textarea {
  margin-top: 1.5em;
}
.form__input {
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #f6f6f6;
  padding: 1em;
  width: 100%;
}
.form__input--large {
  height: 8em;
}

.main {
  min-height: calc(100vh - var(--header-height));
}
.main--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex: 0 0 400%;
  transition: 1s;
}
.slider__section {
  flex: 1 0 25%;
  -ms-display: grid;
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  grid-template-columns: 1fr;
  padding: 0.7em;
}
.slider__heading {
  font-size: 1.5em;
  color: var(--primary-color);
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  position: relative;
}
.carousel__items {
  width: 40%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
.carousel__btn {
  position: absolute;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15%;
  top: 40%;
  transition: ease-in-out var(--very-short-animation);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}
.carousel__btn:hover {
  border-color: #a3a3a3;
  transform: scale(1.1);
}
.carousel__btn:hover:after {
  border-color: black;
}
.carousel__btn:after {
  position: absolute;
  width: 40%;
  height: 40%;
  content: "";
  border: solid #7b7b7b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(-45deg);
  padding: 3px;
}
.carousel__btn--left {
  left: 15%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.carousel__btn--left:after {
  transform: rotate(135deg);
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.heading {
  text-align: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: var(--border-radius-basic);
  padding: 2em 1em;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.25);
}
.card--small {
  font-size: 0.8rem;
}
.card__question {
  font-size: 1.2em;
}
.card__answers {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.3em 0;
}
.card__answer {
  margin: 0.65em 0;
}
.card__btn {
  margin-top: auto;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 25px;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.7em 1em;
  font-size: 1em;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-color-hover);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(175px, 280px));
  grid-auto-rows: min-content;
  grid-gap: 30px;
}

.leitner-boxes {
  max-width: 1100px;
  width: 100%;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.leitner-boxes__box {
  background-color: #fff;
  border: 2px solid #000;
  flex: 1 1 20%;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leitner-boxes__box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.leitner-boxes__text {
  color: var(--primary-color);
  font-size: 2.5em;
  font-weight: 700;
}

.par {
  margin-bottom: 1.3em;
}
.par--md {
  font-size: 1.3em;
}

.flashcards-types {
  list-style: none;
  font-size: 1.45rem;
}
.flashcards-types__item {
  text-align: center;
  margin-bottom: 1.7em;
}
.flashcards-types__item:before {
  display: block;
  content: "";
  height: 1px;
  width: 50%;
  min-width: 350px;
  background-color: var(--primary-color);
  margin: 0.5em auto;
}

.bold--md {
  font-weight: 500;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 1000px;
  max-width: 100%;
  padding: 1.5em;
}
.presentation__carousel {
  width: 75%;
}
.presentation__items {
  width: 25%;
  border-right: 3px solid #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.presentation__row {
  position: relative;
  justify-content: center;
  height: 3em;
  width: 100%;
}
.presentation__label {
  width: calc(100% + 3px);
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid transparent;
  right: -3px;
  cursor: pointer;
}
.presentation__label:hover {
  background-color: #e0e0e0;
  border-color: #cecece;
}
.presentation__item {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.presentation__item:checked + .presentation__label {
  border-color: var(--primary-color-hover);
  background-color: #d9d9d9;
}

/*# sourceMappingURL=style.css.map */
