<header class="header">
    <div class="container header__container">
        <nav class="navbar">
            <a href="home.html" class="navbar__link">Home</a>
            <a href="#" class="navbar__link">Demo</a>
            <a href="about.html" class="navbar__link">About</a>
            <a href="contact.html" class="navbar__link">Contact</a>
            <a href="login.html" class="navbar__link">Login</a>
        </nav>
    </div>
</header>