{% set title = "Demo" %}

{% extends "base.njk" %}
{% block head %}
{% endblock %}

{% block main %}
<main class="main">
    <div class="container">
        <h1>Demo</h1>
        <p class="par par--md">Do you want to test how does it work? Here you can find 10 different sample flashcards. If you want to create your own flashcards, follow your progress, please register an account <a href="register.html">here</a>. It is for free!</p>
        <div class="center">
            <button class="btn">Start demo</button>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
{% endblock %}