{% set title = "Home" %}

{% extends "base.njk" %}
{% block head %}
{% endblock %}

{% block main %}

<main class="main">
    <div class="container">
        <section class="section">
            <h1 class="heading section__heading">Boost your skills with a powerful flashcard system</h1>
            <div class="grid">
                <div class="card">
                    <h3 class="heading card__question">
                        What is the highest mountain in the world?
                    </h3>
                    <ul class="card__answers">
                        <li class="card__answer">Mont Blanc</li>
                        <li class="card__answer">Mount Everest</li>
                        <li class="card__answer">Nanga Parbat</li>
                        <li class="card__answer">Kilimanjaro</li>
                    </ul>
                    <button class="btn card__btn">
                        Check your answer
                    </button>
                </div>
                <div class="card">
                    <h3 class="heading card__question">
                        What is the highest mountain in the world?
                    </h3>
                    <ul class="card__answers">
                        <li class="card__answer">Mont Blanc</li>
                        <li class="card__answer">Mount Everest</li>
                        <li class="card__answer">Nanga Parbat</li>
                        <li class="card__answer">Kilimanjaro</li>
                    </ul>
                    <button class="btn card__btn">
                        Check your answer
                    </button>
                </div>
                <div class="card">
                    <h3 class="heading card__question">
                        What is the highest mountain in the world?
                    </h3>
                    <ul class="card__answers">
                        <li class="card__answer">Mont Blanc</li>
                        <li class="card__answer">Mount Everest</li>
                        <li class="card__answer">Nanga Parbat</li>
                        <li class="card__answer">Kilimanjaro</li>
                    </ul>
                    <button class="btn card__btn">
                        Check your answer
                    </button>
                </div>
            </div>
        </section>

        <section class="section">
            <h2 class="heading section__heading">Efficient spaced repetition system</h2>
            <div class="leitner-boxes">
                {% for i in range(1, 6) %}
                <div class="leitner-boxes__box">
                    <p class="leitner-boxes__text">{{ i }}</p>
                </div>
                {%endfor %}
            </div>
            <article>
                <p class="par par--md">
                    The system is pretty simple - if your answer is correct, your flashcard is moved to the next box.
                    If the answer is incorrect your flashcard returns to the first box, no matter if you fail at level 2, 3, 4 or 5.
                    This system was invented by the German science journalist Sebastian Leitner.
                    Check the Wikipedia <a target="_blank" href="https://en.wikipedia.org/wiki/Leitner_system">article</a> to learn more.
                </p>
                <p class="par par--md">
                    Do you succeed at level 5? It means that you have learnt the material from that flashcard - it will not be in use anymore. Congratulations!
                </p>
            </article>
        </section>

        <section class="section">
            <h2 class="heading section__heading">Discover various types of flascards</h2>
        </section>
    </div>
</main>
{% endblock %}

{% block script %}
{% endblock %}