{% set title = "Home" %}

{% extends "base.njk" %}
{% block head %}
{% endblock %}

{% block main %}

<main class="main">
    <div class="container">
        <section class="main__section">
            <h1 class="heading main__heading">Boost your skills with a powerful flashcard system</h1>
            <div class="grid">
                <div class="card">
                    <h3 class="heading card__question">
                        What is the highest mountain in the world?
                    </h3>
                    <ul class="card__answers">
                        <li class="card__answer">Mont Blanc</li>
                        <li class="card__answer">Mount Everest</li>
                        <li class="card__answer">Nanga Parbat</li>
                        <li class="card__answer">Kilimanjaro</li>
                    </ul>
                    <button class="btn card__btn">
                        Check your answer
                    </button>
                </div>
                <div class="card">
                    <h3 class="heading card__question">
                        What is the highest mountain in the world?
                    </h3>
                    <ul class="card__answers">
                        <li class="card__answer">Mont Blanc</li>
                        <li class="card__answer">Mount Everest</li>
                        <li class="card__answer">Nanga Parbat</li>
                        <li class="card__answer">Kilimanjaro</li>
                    </ul>
                    <button class="btn card__btn">
                        Check your answer
                    </button>
                </div>
                <div class="card">
                    <h3 class="heading card__question">
                        What is the highest mountain in the world?
                    </h3>
                    <ul class="card__answers">
                        <li class="card__answer">Mont Blanc</li>
                        <li class="card__answer">Mount Everest</li>
                        <li class="card__answer">Nanga Parbat</li>
                        <li class="card__answer">Kilimanjaro</li>
                    </ul>
                    <button class="btn card__btn">
                        Check your answer
                    </button>
                </div>
            </div>
        </section>

        <section class="main__section">
            <h2 class="heading main__heading">Discover various types of flascards</h2>
        </section>

        <section class="main__section">
            <h2 class="heading main__heading">Efficient spaced repetition system</h2>
        </section>
    </div>
</main>
{% endblock %}

{% block script %}
{% endblock %}