:root {
  // Colors
  --primary-color: #3885df;
  --primary-color-hover: #3870df;
  --greyish-hover: #ececec;

  // Blocks size
  --header-height: 60px;

  // Animation duration
  --very-short-animation: 100ms;
  --short-animation: 200ms;

  // Borders size
  --border-radius-basic: 15px;
}